/* Add your styles here */
:root {
    --nice-blue: #0075e1;

    --standard-box-shadow: 0 0 5px rgb(0 0 0 / 0.17);
}

vaadin-grid::part(header-cell) {
    font-weight: 600;
}

vaadin-grid::part(cell) {
    padding: 5px;
}

.outer-wrapper-shadow {
    box-shadow: var(--standard-box-shadow);
    border-radius: 35px;
}

.form-standard-style {
    padding-left: 10px;
}

.padding-left-form {
    padding-right: 20px;
}

.form-btn {
    box-shadow: var(--standard-box-shadow);

    border-end-end-radius: 35px;
    border-start-end-radius: 35px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;

    background-color: var(--nice-blue);
    color: white;

    font-weight: bolder;
    font-size: 2rem;

    padding-left: 10px;
    padding-bottom: 5px;
}

.grid-style  {
    box-shadow: var(--standard-box-shadow);
    border-radius: 25px;
}


.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: 600;
    font-size: var(--lumo-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--lumo-font-size-s);
}

vaadin-app-layout::part(drawer) {
    background: #ffffff;
    background-image: none;
}

vaadin-side-nav-item::part(link):hover {
    background-color: #0075e1;
    color: #ffffff;
}

.nav-label {
    display: inline-block;
    transition: transform 0.2s ease;
    transform-origin: left center;
}

vaadin-side-nav-item::part(link):hover {
    background-color: #0075e1;
    color: #ffffff;
}

vaadin-side-nav-item:hover .nav-label {
    transform: scale(1.1);
}
